<% include partials/header %>
<div class="main-container">
    <p class="main-header">Welcome to our <img src="images/gulp-title.svg" alt="Gulp Logo" width="150px"> Tutorial</p>
    <p class="main-subheading">By: George, Jeremiah, Jeff and Amanda</p>
    <a class="gulp-btn" href="/add"><img src="images/gulp-cup.png" width="150px" alt=""><p>Try it out!</p></a>
</div>
<% include partials/footer %>
